
:root {
/*colors*/
  --unnamed-color-2f6b26: #2F6B26;
  --unnamed-color-001000: #001000;
  --unnamed-color-a2cf44: #A2CF44;
  /* Font/text values */
--unnamed-font-family-export: Export;
--unnamed-font-family-museo-sans-cond: Museo Sans Cond;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-22: 22px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-50: 50px;
--unnamed-font-size-70: 70px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-27: 27px;
--unnamed-line-spacing-28: 28px;
--unnamed-line-spacing-57: 57px;
--unnamed-line-spacing-79: 79px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-museo-sans-cond);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-22);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-export);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-70);
line-height: var(--unnamed-line-spacing-79);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-export);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-50);
line-height: var(--unnamed-line-spacing-57);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-export);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-28);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
 
  align-items: center;
  background-color: var(--unnamed-color-001000);
  font-family: var(--unnamed-font-family-export);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-export);
  height: 65px;
  width: 100vw;
  white-space: nowrap;
}



nav ul {
  margin: 0;
  padding: 0;
  z-index: 1;
  height: 65px;  
}

nav ul a {
  display: block;
  color: var(--unnamed-color-a2cf44);
  text-decoration: none;
  padding: 18px 40px;
  font-family: var(--unnamed-font-style-normal);
  
  
}
nav ul li {
  position: relative;
  display: inline-block;
  display: table-cell;
  
  list-style-type: none;
  text-align: center;
}
nav ul li:hover {
 color: white;
}
nav ul li:hover a {
  color: white;
}
nav ul ul{
  display: none;
  position: absolute;
  background: var(--unnamed-color-001000);
  width: 100%; 
}
nav ul ul li {
  width: 100%;
  display: inline-block;
}
nav ul li:hover > ul {
  display: block;
}